/********************
YOUR STYLES
*******************/

 .container {
  display: flex;
 
 padding: 10px;
	background: none;
 
	margin: 45px auto;
 
   flex-wrap: wrap;
  
  justify-content: column;
}

 
.item-1{
  
 text-align: center;
}





/* DO NOT CHANGE ANY OF THIS */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic);

/*Body*/
body {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png") 25% 25%;
}




/***Green Cup pattern Made by Atle Mo retrieved from subtlepatterns.com ***/
.pattern-4 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png") 25% 25%;
background-size: cover;}




a {
color: #18223F;
text-decoration: none;
font-size: 14px;
  font-weight: bold;
}

a:hover {
color: #742464;
text-decoration: none;
}

nav li {
    list-style: none;
	padding: 5px; 
	margin: 5px;
	

}

nav a:link {
    color: #57595B;
    letter-spacing: 1px;
text-decoration: none;
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	
}

nav a:hover {
color: #E8F2F3;


}



/* Typography */

h1, h2, h3 {
    color: #E8F2F3;
    font-family: 'Raleway', sans-serif;
}
h1 {
color: #668D4C;
text-align: center;
font-size: 3em;
}
h2 {
color: #E8F2F3;
}

p {
font-family: 'Raleway', sans-serif;
color: #E8F2F3;
 font-size: 16px;  
  text-indent: 25px;
}


body {
	background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png");
	
	
	
	padding-left: 5%;
	padding-right: 5%;
}

.item {
	padding: 10px;
	margin: 5px;
	
	background: #668D4C;
	
}

.item-1 {
 
  width: 100%;
  background:  url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/537716_577211665629500_1616925227_n.jpg") 32% 32%;
  background-size: cover;
}

.item-1 img {
  
}

.item-2  {

  width: 37%;
}
.item-2 img {
  width: 100%;
}

.item-3  {
  width: 50%;
  
}
.item-3 img {
  width: 100%;

}


.item-4  {
  width: 100%;
  text-align: center;
 
}
.item-4 img {
  width: 100%;
}

.item-5  {
  width: 4%;
  
}
.item-5 img {
  width: 100%;

  
}



/********************
MEDIA QUERIES
*******************/



/* Mobile */
@media (min-width: 300px) {
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item {
	width:100%;
}


.item-5 {
	width: 5%
}
}
/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {
 .container {
  display: flex;
 
 padding: 10px;
	background: none;
 
	margin: 45px auto;
  
   flex-wrap: wrap;
  
  justify-content: space-between;
}
.item {
	padding: 10px;
	margin: 5px;
	
	background: #668D4C;
	
}

.item-1 {
 
  width: 100%;
  background:  url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/537716_577211665629500_1616925227_n.jpg") 32% 32%;
  background-size: cover;
}

.item-1 img {
  
}

.item-2  {

  width: 37%;
}
.item-2 img {
  width: 100%;
}

.item-3  {
  width: 50%;
  
}
.item-3 img {
  width: 100%;
  
  
}


.item-4  {
  width: 100%;
  text-align: center;
 
}
.item-4 img {
  width: 100%;
}

.item-5  {
  width: 4%;
  
}
.item-5 img {
  width: 100%;

  
}
}