/********************
YOUR STYLES
*******************/

 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

 
.item-1{
  
 text-align: center;
}

.item-2 item{
  
  
}

.item-3 {
  
  
}

.item-4 {
 
  
}

.item-5 {
  
  
}

.item-6 {
  
  
}



/* DO NOT CHANGE ANY OF THIS */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic);

/*Body*/
body {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png") 25% 25%;
}
/* Color Palette */
.color-1 {
background: #742464;
}
.color-2 {
background: #18223F;}
.color-3 {
background: #E8F2F3;}
.color-4 {
background: #57595B;
}
.color-5 {
background: #668D4C;
}

/* Textures or Patterns*/

/***New Year pattern Made by Mustafa BAL retrieved from subtlepatterns.com ***/
.pattern-1 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/new_year_background.png") 25% 25%;
background-size: cover;}

/***Concrete Seamless pattern Made by Anchour retrieved from subtlepatterns.com ***/
.pattern-2 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/concrete_seamless.png") 25% 25%;
background-size: cover;}

/***Feathered pattern Made by Martuchox retrieved from subtlepatterns.com ***/
.pattern-3 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/upfeathers.png") 25% 25%;
background-size: cover;}

/***Green Cup pattern Made by Atle Mo retrieved from subtlepatterns.com ***/
.pattern-4 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png") 25% 25%;
background-size: cover;}

/***Stardust pattern Made by Atle Mo retrieved from subtlepatterns.com ***/
.pattern-5 {
background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/stardust.png") 25% 25%;
background-size: cover;}

/* Imagery */
img {
size: 75%;
}

/* Icons */
.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5
 {
border: none;
}

/* Navigation */

a {
color: #18223F;
text-decoration: none;
font-size: 14px;
  font-weight: bold;
}

a:hover {
color: #742464;
text-decoration: none;
}

nav li {
    list-style: none;
	padding: 5px; 
	margin: 5px;
	

}

nav a:link {
    color: #57595B;
    letter-spacing: 1px;
text-decoration: none;
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	
}

nav a:hover {
color: #E8F2F3;


}

button {
    padding: 10px;
    background: #742464;
    color: #E8F2F3;
    border: #18223F solid 4px;
    border-radius: 30px;
}

button:hover {
	background: #18223F;
    color: #668D4C;
	 border: #668D4C solid 4px;
}

/* Typography */

h1, h2, h3 {
    color: #E8F2F3;
    font-family: 'Raleway', sans-serif;
}
h1 {
color: #E8F2F3;
text-align: center;
}
h2 {
color: #E8F2F3;
}





p {
font-family: 'Raleway', sans-serif;
color: #E8F2F3;
 font-size: 16px;  
  text-indent: 25px;
}

#version {
text-align: center;
}

/* okay to change */






* {
	box-sizing: border-box;
}

body {
	background: url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/green_cup.png");
	
	
	
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	padding: 10px;
	background: none;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  justify-content: center;
  
}
.item {
	color: #fff;
	
	background: #668D4C;
	border-radius: 8px;
}

.item-1 {
  
  width: 99%;
  background:  url("https://raw.githubusercontent.com/CassandraO/p1-persona-style-tile/gh-pages/img/537716_577211665629500_1616925227_n.jpg") 32% 32%;
  background-size: cover;
}

.item-2  {
 
  width: 37%;
}
.item-2 img {
  width: 100%;
}

.item-3  {
  width: 55%;
  
 
   
}
.item-3 img {
  width: 100%;
}

.item-6  {
  width: 30%;
}
.item-6 img {
  width: 100%;
}

.item-5  {
  width: 5%;
  
}
.item-5 img {
  width: 100%;
  padding: 2px;
}

.item-4  {
  width: 99%;
  text-align: center;
}
.item-4 img {
  width: 100%;
}

.item-1 img {
  
}




.

.word1 {
  font-size: 1.5em;
  color: #18223F;
}







/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}